button.sair{
    position: relative;
    border: none;
    background-color: transparent;
    top:15px;
    outline:none;
    float: right;
    right: 3%;
}

.sair{
    width: 30px;
}

span.novo{
    color:gray;
    font-size: 80%;
}

.seus_documentos{
    background-color: #083948ef;
    text-align: center;
    width: 100%;
    height: 25vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% /30%;
}

p.seus_documentos{
    padding-top: 15px;
    position: relative;
    top: 15vh;
    font-family: 'Bellefair', serif;
    color: #FFF;
    font-size: 130%;
    font-weight: 400;
    letter-spacing: .2rem;
}
