header{
    width: 100%;
    height: 60px;
    background-color: #FFF;
    border: 1px solid rgba(124, 121, 121, 0.28);
}

img.novo{
    position: relative;
    width: 30px;
}

button.novo{
    position: relative;
    border: none;
    background-color: transparent;
    float: right;
    right: 5%;
    margin-right: 2%;
    top:15px;
    outline:none;

}

span.novo{
    color:gray;
    font-size: 80%;
}